<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>社区管理系统</title>
    <link rel="stylesheet"  th:href="@{../css/admin.css}" >
    <link rel="stylesheet" th:href="@{../css/pintuer.css}">
    <script th:src="@{../js/jquery.js}"></script>
    <script th:src="@{..c/js/pintuer.js}"></script>
</head>
<body style="background-color:#f2f9fd;">
<h2>欢迎回来!!</h2>
</body>
</html>